* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrap__converter {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 800px;
  min-height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
